@import "/src/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size;
  color: $font-color;
  font-family: $font-family;
  background-color: $bg-color;
  overflow: scroll;
}
