@import "/src/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size;
  color: $font-color;
  font-family: $font-family;
  background-color: #05492b53;
  background-color: $bg-color;
  // overflow: scroll;
  @media (max-width: 300px) {
    font-size: 10px;
  }
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
