$color-primary: #003675;
$color-primary-dark: #00254f;
$color-primary-light: #004ca3;
$color-secondary: #ef454d;
$color-secondary-dark: #ab3a40;
$color-secondary-light: #ff4650;
$color-tertiary: #faac52;
$color-tertiary-dark: #b68143;
$color-tertiary-light: #ffbf76;
$font-size: 16px;
$font-bold: 600;
$font-light: 200;
