$color-primary: #120a23;
$color-primary-dark: #0d0028;
$color-primary-light: #40247c;
$color-secondary: #d500fc;
$color-secondary-dark: #eb7aff;
$color-secondary-light: #9f55ad;
$color-tertiary: #2dffff;
$color-tertiary-dark: #63c2c2;
$color-tertiary-light: #62fffe;
$font-color: #eee;
$bg-color: $color-primary;
$font-size: 16px;
$font-bold: 600;
$font-light: 200;
$font-family: "Finlandica", sans-serif;
