@import "/src/styles/colors";

.gameContainer {
    font-family: 'Roboto', 'sans-serif';
}

.miniGameFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ctaContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.ctaContainer::before {
    content: "";
    height: 2px;
    width: 90%;
    background-color: #eee;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.ctaContainer > p::before {
    height: 2px;
    width: 90%;
    background-color: $color-secondary-dark;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.ctaAction {
    color: $color-secondary-dark !important;
    text-decoration: none;
}