@import "/src/styles/_colors.scss";

.wallet {
  padding: 4vw;
  background-color: white;
  &__header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    h3 {
      font-size: 1.5em;
    }
  }
  &__money {
    padding-top: 40px;
    width: 90%;
    height: 65%;
    margin: 0 auto;
    &-expenses {
      position: absolute;
      // inset: 0;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: #989898;
      h3 {
        display: flex;
        font-weight: $ff-400;
        font-size: 1.4em;
        svg {
          display: inline-flex;
        }
      }
      .value {
        color: $font-color;
        font-size: 3.3em;
        span {
          font-size: 1.5rem;
        }
      }
      p:not(.value) {
        margin-top: -25px;
      }
    }
    &-filters {
      position: absolute;
      bottom: 30px;
      display: flex;
      font-size: 1.25em;
      p {
        margin: 0 10px;
        padding: 10px;
        &.selected {
          border-radius: 5px;
        }
      }
    }
  }
  &__history {
    &-header {
      display: flex;
      padding: 10px 0;
      justify-content: space-between;
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}

#primary {
  #inner .CircularProgressbar {
    .CircularProgressbar-path {
      stroke: $font-color;
    }
    .CircularProgressbar-trail {
      stroke: $clr-primary;
    }
  }
  .CircularProgressbar-path {
    stroke: $clr-primary;
  }

  .selected {
    background-color: $clr-primary;
  }
}

#accent {
  #inner .CircularProgressbar {
    .CircularProgressbar-path {
      stroke: $font-color;
    }
    .CircularProgressbar-trail {
      stroke: $clr-accent;
    }
  }
  .CircularProgressbar-path {
    stroke: $clr-accent;
  }
  .selected {
    background-color: $clr-accent;
  }
}

#accent-2 {
  #inner .CircularProgressbar {
    .CircularProgressbar-path {
      stroke: $font-color;
    }
    .CircularProgressbar-trail {
      stroke: $clr-accent-2;
    }
  }
  .CircularProgressbar-path {
    stroke: $clr-accent-2;
  }
  .selected {
    background-color: $clr-accent-2;
  }
}
